@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Philosopher&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

header.main-header {
    background: black;
    padding-top: 15px;
}

nav.main-nav {
    text-align: right;
    display: block;
    color: white;
}

.main-nav ul {
    color: slategray;
    font-size: medium;
    margin: 0;
    padding: 0;
}

nav.main-nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.self-tw{
    background-color: black;
    color: rgb(226, 226, 226);
    font-family: 'Metal Mania', cursive;
    font-size: 3em
    
}

.sub-headers{
    text-align: center;
    color:rgb(150, 150, 146)
}

.content{
    padding: 0;
    margin: 15px;

}

.img{
    border-radius: 50%;
    float: left;
    margin: 10px;
    
}

.foot-link:hover{
    background-color: rgba(0, 0, 0, .4)
}

.nav-footer {
    display: grid;
    text-align: end;
    align-items: center;
    list-style-type: none;
}

.foot-link {
    margin: 0 25px;
    width: 75px;
    height: 75px;
}

.foot-link img {
   max-width: 100%
   
}