@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Philosopher&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}



.main-nav ul{
   background-color: black;
   color: slategray;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: medium;
}

.self-tw{
    background-color: black;
    color: slategray;
    font-family: 'Metal Mania', cursive;
    font-size: 3em
    
}

.sub-headers{
    text-align: center;
    color:rgb(150, 150, 146)
}

.content{
    padding: 0;
    margin: 15px;

}

.img{
    border-radius: 50%;
    float: left;
    margin: 10px;
    
}
.foot{
    align-items: center;
}

.foot-link{
    margin: 25px, 25px;
    align-items: center;
    padding: 4em, 4em;
    width: 30px;
    height: 30px;
}

.foot-link:hover{
    background-color: rgba(0, 0, 0, .4)
}

.nav-footer{
    display: flex;
    flex-grow: 1;
    text-align: end;
    align-items: center;
    list-style-type: none; 
}
